<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.ysy.mapper.MemberMapper">

	<resultMap id="userMap" type="edu.kosmo.ysy.vo.MemberVO">
	    <result property="userid" column="userid"/>
	    <result property="userpassword" column="userpassword"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap id="authMap" type="edu.kosmo.ysy.vo.AuthVO">
		<result property="userid" column="userid"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="readMember" resultMap="userMap">
		select * from member, authority where member.userid = authority.userid and member.userid = #{userid}
	</select>
	

</mapper>